@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root{
  --dollar: 'Space Mono', monospace;
  --Pcolor: #C8C7D8;
  --bgcolor: #393953;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-image: url(./mediaHome/bg\ img.png);
  text-align: center;
}
header{
    width: 1519px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-left: 7%;
}
.logo{
    margin-left: 50px;
}
.nav{
    margin: 25px 50px;
}
.nav ul{
    display: inline-block;
}
.nav ul li{
    list-style: none;
    display: inline-block;
}
.nav ul li a{
    color: rgb(182, 184, 185);
    text-decoration: none;
    padding: 20px;
    font-family: var(--dollar);
    color: var(--Pcolor);
}
.nav button{
    background: #6966FF;
    color: #fff;
    padding: 15px 30px;
    border-radius: 12px;
    border: none;
}
.btn_left{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #393953;
    color:#C3C2D4;
    padding: 15px;
    border: none;
    border-radius: 50%;
    margin-left: 22%;
}
.btn_left i{
    font-size: 16px;
}
.png{
    margin-top: -2.3%;
}
.h1{
    text-align: left;
    width: 75%;
    margin-top: 10%;
    margin-left: 13%;
}
h1{
    font-size: 65px;
    color: #fff;
}
.btn-flex{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 13%;
}
.btn-flex p{
    display: inline-block;
}
.btn{
    background: #16B57F;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 50px;
}
.project{
    background: #6966FF;
    padding: 8px 15px;
    border: none;
    border-radius: 50px;
    color: #fff;
}
.container{
    position: relative;
    text-align: left;
    width: 75%;
    margin-top: 1%;
    margin-left: 13%;
}
.container button{
    display: grid;
    grid-template-columns: 60px 60px;
    margin-left: 10px;
    width: 200px;
    background-color: var(--bgcolor);
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    padding: 8px 15px;
    align-items: center;
}
.btn1{
    position: absolute;
    top: 22px;
    left: 220px;
}
.string{
    text-align: left;
}
.string h3{
    color: #fff;
}
.string p{
    color: var(--Pcolor);
}
.string a{
    color: #6966FF;
    
}
.round{
    background-color: var(--bgcolor);
    color: #fff;
    width: 75%;
    margin-left: 13%;
    border-radius: 12px;
    height: 150px;
    padding: 20px;
    text-align: left;
    position: relative;
}
.span{
    position: absolute;
    right: 20px;
    top: 20px;
}
.span p{
    display: inline-block;
}
h3{
    color: #fff;
    text-align: left;
    margin-left: 13%;
}
.funding{
    background-color: var(--bgcolor);
    color: #fff;
    width: 75%;
    margin-left: 13%;
    border-radius: 12px;
    height: 150px;
    padding: 20px;
    text-align: left;
    position: relative;
    margin-top: 20px;
}
.more{
    color: #fff;
    margin-top: 10%;
}
.categorys{
    display: grid;
    grid-template-columns: 380px 380px;
    margin-left: 29%;
}
.category{
    width: 360px;
    height: 500px;
    background-color: var(--bgcolor);
    margin: 0px;
    border-radius: 12px;
    padding: 20px;
    text-align: left;
    position: relative;
}
.avatar_group{
    position: absolute;
    bottom: 20px;

}
p{
    line-height: 26px;
}
.blue{
    color: #6966FF;

}
.div-beetven{
    display: flex;
    justify-content: space-between;
    height: 200px;
    margin-left: 10%;
}
.div-beetven li{
    font-family: var(--dollar);
    color: var(--Pcolor);
    list-style: none;
    
    display: inline-block;
    margin: 25px 15px;
}
.div-beetven img{
    display: inline-block;
    margin-top: 7%;
}
.div2__{
    margin-right: 10%;
    display: grid;
    grid-template-columns: auto auto;
}
.div2__ i{
    display: flex;
    align-items: center;
    padding: 30px;
    color: #fff;
    font-size: 25px;
   
    color: var(--Pcolor);
}









.p{
    font-family: var(--dollar);
    color: var(--Pcolor);
}
.pp{
    color: var(--Pcolor);
}