
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root{
  --dollar: 'Space Mono', monospace;
  --Pcolor: #C8C7D8;
  --bgcolor: #393953;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-image: url(./Education_Library/mediaHome/bg\ img.png);
  text-align: center;
}
header{
    width: 1519px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-left: 7%;
}
.logo{
    margin-left: 50px;
}
.nav{
    margin: 25px 50px;
}
.nav ul{
    display: inline-block;
}
.nav ul li{
    list-style: none;
    display: inline-block;
}
.nav ul li a{
    color: rgb(182, 184, 185);
    text-decoration: none;
    padding: 20px;
    font-family: var(--dollar);
    color: var(--Pcolor);
}
.nav button{
    background: #6966FF;
    color: #fff;
    padding: 15px 30px;
    border-radius: 12px;
    border: none;
}
.funded-h1 h1{
    color: #fff;
    font-size: 85px;
}
.funded-h1 li{
    color: #fff;
    display: inline-block;
    padding: 20px;
    color: var(--Pcolor);
}
.all{
    background-color: var(--bgcolor);
    padding: 15px;
    border-radius: 6px;
}
.switch{
    margin-left: -41%;
    margin-top: 2%;
}
.show{
    color: var(--Pcolor);
    padding-left: 10px;
    display: inline-block;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 18%;
    margin-top: 10%;
    width: 1150px;
}
.blog{
    width: 350px;
    height: 500px;
    background-color: var(--bgcolor);
    border-radius: 12px;
    margin-top: 30px;
    text-align: left;
    padding: 20px;
    position: relative;
}
.blog h4{
    color: #fff;
}
.paragrph{
    color: #fff;
}
.faces{
    position: absolute;
    bottom: 20px;
}
.gradient{
    width: 75%;
    height: 220px;
    background: linear-gradient(325.79deg, #6966FF 24.5%, rgba(105, 102, 255, 0.36) 130.69%);
    padding: 20px 0;
    border-radius: 20px;
    margin-left: 13%;
    margin-top: 10%;
}
.gradient h4{
    font-size: 35px;
    color: #fff;
}
.gradient button{
    background-color: #fff;
    color: #6966FF;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
}
.gradient button:hover{
    background-color: #fff;
    color: #6966FF;
}
.div-beetven{
    display: flex;
    justify-content: space-between;
    height: 200px;
    margin-left: 10%;
}
.div-beetven li{
    font-family: var(--dollar);
    color: var(--Pcolor);
    list-style: none;
    
    display: inline-block;
    margin: 25px 15px;
}
.div-beetven img{
    display: inline-block;
    margin-top: 7%;
}
.div2__{
    margin-right: 10%;
    display: grid;
    grid-template-columns: auto auto;
}
.div2__ i{
    display: flex;
    align-items: center;
    padding: 30px;
    color: #fff;
    font-size: 25px;
   
    color: var(--Pcolor);
}








.p{
    font-family: var(--dollar);
    color: var(--Pcolor);
}
.pp{
    color: var(--Pcolor);
}